// Styling for the masthead
header.masthead {
  #carouselExampleCaptions {
    .carousel-inner {
      height: 60vh;
      .carousel-item {
        img {
          position: absolute;
          margin: auto;
        }
      }
      .carousel-item.active {
        background: linear-gradient(315deg, rgba(0,0,0,0.742734593837535) 100%, rgba(0,212,255,1) 100%);
        min-height: 350px;
        div {
          margin:auto;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,.4);
          position: relative;
        }
        img {
          position: absolute;
        }
      }
    }
  }
  text-align: center;
  color: white;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}

@media(max-width: 1024) {
  header.masthead {
    #carouselExampleCaptions {
      .carousel-inner {
        height: 50vh;
        img {
          position: absolute;
          height: 50vh;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  header.masthead {
    #carouselExampleCaptions {
      .carousel-inner {
        height: 40vh;
        img {
          position: absolute;
          height: 40vh;
        }
      }
    }
  }
}

@media(max-width: 414px) {
  header.masthead {
    #carouselExampleCaptions {
      .carousel-inner {
        height: 40vh;
        img {
          position: absolute;
          height: 40vh;
        }
      }
    }
  }
}

@media(max-width: 375px) {
  header.masthead {
    #carouselExampleCaptions {
      .carousel-inner {
        height: 40vh;
        img {
          position: absolute;
          height: 40vh;
        }
      }

      .carousel-inner {
        .carousel-item.active {
          background: linear-gradient(315deg, rgba(0,0,0,0.742734593837535) 100%, rgba(0,212,255,1) 100%);
          min-height: 350px;
          height: 40vh;
          div {
            margin:auto;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.4);
            position: relative;
          }
          img {
            height: 40vh;
            position: absolute;
          }
        }
      }
    }
  }
}
